html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #413d3d;
}

.flex {
  height: 97vh;
  margin: 10px;
  background-color: #413d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.flex .left {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .left .box1 {
  background-color: #f1463d;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex .left .box2 {
  background-color: #f1f1f1;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex .right {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex .right .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3 0 0px;
          flex: 3 0 0;
}

.flex .right .top .box3 {
  background-color: #2cc5cf;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex .right .top .box4 {
  background-color: #d6b269;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex .right .bottom {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex .right .bottom .bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  gap: 20px;
}

.flex .right .bottom .bottom-left .bottom-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .right .bottom .bottom-left .bottom-left-top .box5 {
  background-color: #d6b269;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .right .bottom .bottom-left .bottom-left-top .box6 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #f1f1f1;
}

.flex .right .bottom .bottom-left .bottom-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .right .bottom .bottom-left .bottom-left-bottom .box7 {
  background-color: #f1463d;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex .right .bottom .bottom-left .bottom-left-bottom .box8 {
  background-color: #2cc5cf;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .right .bottom .bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex .right .bottom .bottom-right .box9 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f1463d;
}
/*# sourceMappingURL=flex.css.map */