@import 'footer';
@import 'header';

$colors: (
    scarlet-dark: #f1463d,
    blue-light: #2cc5cf,
    beige-light: #d6b269
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
    max-width: 60vw;
    background-color: #f1f1f1;
}

h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}




// flex
.photos {
    // @include flex-row();
    background-color: #fff;
}


.tab-container {
    background-color: #fff;
    padding: 3em;
    min-height: 80vh;
    .tab-header {
        @include navigate(); 
    
        button {
            text-decoration: none;
            color: #333;
            padding: 10px;
            margin: 5px;
        }
    }
    .tab-body{
        div {
            display: none;
        }
        .active {
            display: block;
        }
    }
}

// event bubble
@mixin center{
    display: grid;
    place-items: center;
}
#bubble1{
    background-color: #333;
    height: 500px;
    width: 500px;
    @include center();
}
#bubble2{
    background-color: #1f1f1f;
    height: 350px;
    width: 350px;
    @include center();
}
#bubble3{
    background-color: #c1c1c1;
    height: 100px;
    width: 200px;
    @include center();
}
#bubble4{
    background-color: #c1c1c1;
    height: 100px;
    width: 200px;
    @include center();
}
.click{
    border-radius: 10px;
    width: fit-content;
    background-color: #54af85;
}
section, article {
    margin-bottom: 5rem;
}
